<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>新增标签页</title>
    <script th:src="@{/js/articleCategory/addCategory.js}" ></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content">
        <div id="searchform" >
            <form class="form-horizontal form-search" name="searchForm" role="form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">唯一编号：</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="code" id="code" maxlength="20"/>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">名称：</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="name" id="name" maxlength="100"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">顺序(从小到大)：</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="seq" maxlength="20"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <div class="col-xs-12 text-right">
                                <button type="button" class="btn btn-info" onclick="submitCategory(this)">&nbsp;提交&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>
</body>
</html>