<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>
    <title>类目列表</title>
    <script th:src="@{/js/articleBanner/bannerList.js}" ></script>
</head>

<body>

<div class="content-wrapper" layout:fragment="content">
    <section class="content">
        <div id="searchform">
            <form class="form-horizontal form-search" name="searchForm"  role="form">

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">banner名称：</label>
                            <div class="col-sm-2">
                                <input type="hidden" name="location" value="article_top"/>
                                <input class="form-control" type="text" name="bannerName"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 ">
                        <div class="form-group">
                            <div class="col-xs-12 text-right">
                                <button type="button" class="btn btn-info" onclick="searchList(this)">&nbsp;查询&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="box box-round">
                    <div class="box-header">
                        <button type="button" shiro:hasPermission="/role/initAddRole" onclick="addBannerInfo(this)" class="btn btn-primary"><i class="ion-ios-plus-empty"></i>添加</button>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>跳转url</th>
                                <th>优先级</th>
                                <th>创建时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                            <script type="text/html">
                                {{each list tab index}}
                                <tr>
                                    <td>{{tab.bannerName}}</td>
                                    <td title="{{tab.href}}" >
                                        {{ if tab.href.length > 50 }}
                                                {{tab.href.substring(0,50)}}...
                                        {{ else}}
                                                {{tab.href}}
                                        {{/if}}
                                    </td>
                                    <td>{{tab.seq}}</td>
                                    <td>{{tab.createTimeFormate}}</td>
                                    <td>
                                        {{if tab.enabled == 1}}
                                            上架
                                        {{else}}
                                            下架
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{if tab.enabled == 0}}
                                            <div class="col-sm-2 ">
                                                <button type="button" onclick="modifyBanner('{{tab.id}}')" class="btn btn-primary">编辑</button>
                                            </div>
                                            <div class="col-sm-2">
                                                <!--<button type="button" onclick="operationBanner('{{tab.id}}',1)" class="btn btn-primary">删除</button>-->
                                                <button type="button" onclick="deleteBannerModel('{{tab.id}}','{{tab.bannerName}}')" class="btn btn-primary">删除</button>
                                            </div>
                                        {{/if}}
                                        <div class="col-sm-2">
                                            {{if tab.enabled == 1}}
                                                <button type="button" onclick="operationBanner('{{tab.id}}',2)" class="btn btn-primary">下架</button>
                                            {{else}}
                                                <button type="button" onclick="operationBanner('{{tab.id}}',3)" class="btn btn-primary">上架</button>
                                            {{/if}}
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </script>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p id="roleListPagination"  class="box-footer dataTables_paginate"></p>
            </div>
        </div>
    </section>



    <div class="modal fade" id="deleteBannerModel" role="dialog">
        <div class="modal-dialog" id="modal-dialog">
            <script type="text/html" id="deleteInfo">
                <div class="modal-content message_align">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="resourceModelLabel">操作提醒</h4>
                    </div>
                    <div class="modal-body">
                        <div id="result">确定要删除【{{bannerName}}】操作吗？</div>
                    </div>
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="updateResource" type="button" onclick="sureDelete('{{id}}')" class="btn btn-info">确定</button>
                    </div>
                </div>
            </script>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div>

</body>
</html>