<html layout:decorator="layout/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>新增标签页</title>
    <script th:inline="javascript">
        var mappingLists =[[${categoryEntity.categoryMappings}]];
    </script>
    <script th:src="@{/js/category/modifyCategory.js}" ></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content">
        <div id="searchform" >
            <form class="form-horizontal form-search" name="searchForm" role="form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">唯一编号(只读)：</label>
                            <div class="col-sm-4">
                                <input type="hidden" name="id" th:value="${categoryEntity.id}"/>
                                <input class="form-control" type="text" name="code" th:value="${categoryEntity.code}" readonly="true" maxlength="20"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">名称：</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="name"  th:value="${categoryEntity.name}" maxlength="20"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">顺序(从小到大)：</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="seq"  th:value="${categoryEntity.seq}" maxlength="20"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label class="col-sm-4 control-label">爬取地址：</label><br/><br/>
                            <script type="text/html" id="template">
                                {{each list tab index}}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <input name="mappingIds" type="hidden" value="{{tab.id}}">
                                        <div class="col-sm-2">
                                            <select class="form-control" name="origin" id="{{tab.id}}" >
                                                <option value="-1">请选择网站来源</option>
                                                <option th:each="sourceSite:${sourceSites}"
                                                        th:value="${sourceSite.code}"
                                                        th:text="${sourceSite.name}" ></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="text" name="mappings" value="{{tab.url}}" placeholder="请选输入网址">
                                        </div>
                                    </div>
                                {{/each}}
                            </script>

                        <div id="addUrl">
                        </div>
                        <div class="form-group"  id="addSourceSite" >
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-2">
                                <select class="form-control" name="origin" >
                                    <option value="-1">请选择网站来源</option>
                                    <option th:each="sourceSite:${sourceSites}"
                                            th:value="${sourceSite.code}"
                                            th:text="${sourceSite.name}" ></option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="mappings" placeholder="请选输入网址">
                            </div>
                        </div>
                        <div id="addEmptyUrl">
                        </div>
                        <button type="button" onclick="appendText()" class="btn btn-info" ><i class="ion-ios-plus-empty"></i></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <div class="col-xs-12 text-right">
                                <button type="button" class="btn btn-info" onclick="submitCategory(this)">&nbsp;修改&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
</html>
